.header {
  /* this one background becouse for skills header background is displayed so set it to rgb(40,40,40) */
  background: rgb(40, 40, 40);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
  border-radius: 2rem;
  background-color: rgb(40, 40, 40);
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover {
  color: green;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid green;
}

.active {
  color: green;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid green;
}

.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 3rem;
}
.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}

.active {
  color: yellowgreen;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellowgreen;
}

.mobileMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-height: 15rem;
  background: rgb(50,50,50);
}

.mobileMenuImg {
  display: none;
  object-fit: cover;
  height: 1.8rem;
}

.mobileMenuListItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(40, 40, 40);
}

/* * media wuerry for hamBurger */
@media screen and (max-width:600px){
.mobileMenuImg {
  display: flex;
} .desktopMenu {
  display: none;
} .desktopMenuBtn {
  display: none;
}
}