#expSection {
  
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.expContainer {
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#sapientImg {
  height: 3rem;
  margin-left: 2rem;
}
ul {
  margin-top: 1rem;
}
li {
  margin-bottom: 0.75rem;
}

.spanExp {
  margin-left: 10rem;
}
.expContainer > h1 {
  font-size: 2.75rem;
  margin-bottom: 1.5rem;
}

.expContainer > h1:hover {
  color: green;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid green;
}

.individualContainer > h3:hover {
  color: blue;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid blue;
}

@media screen and (max-width:600px) {
  #expSection {
      width: 60vw;
  }
  .expContainer {
    height: auto;
  }
}
